<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.84.0">
  <title>Mega Craet Box</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/pricing/">

  <!-- Bootstrap core CSS -->
  <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/apple-touch-icon.png"
    sizes="180x180">
  <link rel="icon" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32"
    type="image/png">
  <link rel="icon" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16"
    type="image/png">
  <link rel="manifest" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/safari-pinned-tab.svg"
    color="#7952b3">
  <link rel="icon" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/safari-pinned-tab.svg">
  <meta name="theme-color" content="#7952b3">
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


  <!-- Custom styles for this template -->
  <link href="pricing.css" rel="stylesheet">
</head>

<body>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check" viewBox="0 0 16 16">
      <title>Check</title>
      <path
        d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
    </symbol>
  </svg>

  <div class="container py-3">
    <header>
      <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <span class="fs-4">Mega Craet Box</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          <a class="me-3 py-2 text-decoration-none btn btn-primary" target="_blank" href="https://ahmedmaawy.itch.io/mega-craet-box">Download Game</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="#stage_1">Stage 1</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="#stage_2">Stage 2</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="#stage_3">Stage 3</a>
        </nav>
      </div>

      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <img src="/res/img/logo.png" />
        <h1 class="display-5 fw-normal">High Scores</h1>
      </div>
    </header>

    <main>
      <!-- Stage 1-->
      <hr />
      <h2 class="display-7 text-center mb-4"  id="stage_1">Stage 1</h2>

      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Easy</h4>
            </div>
            
            <div class="card-body">
              <% if (data.stage_1.easy === false) { %>
                <div class="alert alert-primary" role="alert">
                  No Stats
                </div>
              <% } else { %>
                <table class="table">
                  <tbody>
                    <% data.stage_1.easy.forEach(doc => { %>
                    <% doc_data = doc.data() %>
                    <tr>
                      <td><%= doc_data.username %></td>
                      <td><%= doc_data.score %></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              <% } %>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Medium</h4>
            </div>

            <div class="card-body">
              <% if (data.stage_1.medium === false) { %>
                <div class="alert alert-primary" role="alert">
                  No Stats
                </div>
              <% } else { %>
                <table class="table">
                  <tbody>
                    <% data.stage_1.medium.forEach(doc => { %>
                    <% doc_data = doc.data() %>
                    <tr>
                      <td><%= doc_data.username %></td>
                      <td><%= doc_data.score %></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              <% } %>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-white bg-primary border-primary">
              <h4 class="my-0 fw-normal">Hard</h4>
            </div>

            <div class="card-body">
              <% if (data.stage_1.hard == false) { %>
                <div class="alert alert-primary" role="alert">
                  No Stats
                </div>
              <% } else { %>
                <table class="table">
                  <tbody>
                    <% data.stage_1.hard.forEach(doc => { %>
                    <% doc_data = doc.data() %>
                    <tr>
                      <td><%= doc_data.username %></td>
                      <td><%= doc_data.score %></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              <% } %>
            </div>
          </div>
        </div>
      </div>

      <!-- Stage 2-->
      <hr />
      <h2 class="display-7 text-center mb-4" id="stage_2">Stage 2</h2>

      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Easy</h4>
            </div>
            
            <div class="card-body">
              <% if (data.stage_2.easy === false) { %>
                <div class="alert alert-primary" role="alert">
                  No Stats
                </div>
              <% } else { %>
                <table class="table">
                  <tbody>
                    <% data.stage_2.easy.forEach(doc => { %>
                    <% doc_data = doc.data() %>
                    <tr>
                      <td><%= doc_data.username %></td>
                      <td><%= doc_data.score %></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              <% } %>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Medium</h4>
            </div>

            <div class="card-body">
              <% if (data.stage_2.medium === false) { %>
                <div class="alert alert-primary" role="alert">
                  No Stats
                </div>
              <% } else { %>
                <table class="table">
                  <tbody>
                    <% data.stage_2.medium.forEach(doc => { %>
                    <% doc_data = doc.data() %>
                    <tr>
                      <td><%= doc_data.username %></td>
                      <td><%= doc_data.score %></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              <% } %>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-white bg-primary border-primary">
              <h4 class="my-0 fw-normal">Hard</h4>
            </div>

            <div class="card-body">
              <% if (data.stage_2.hard === false) { %>
                <div class="alert alert-primary" role="alert">
                  No Stats
                </div>
              <% } else { %>
                <table class="table">
                  <tbody>
                    <% data.stage_2.hard.forEach(doc => { %>
                    <% doc_data = doc.data() %>
                    <tr>
                      <td><%= doc_data.username %></td>
                      <td><%= doc_data.score %></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              <% } %>
            </div>
          </div>
        </div>
      </div>

      <!-- Stage 3-->
      <hr />
      <h2 class="display-7 text-center mb-4" id="stage_3">Stage 3</h2>

      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Easy</h4>
            </div>
            
            <div class="card-body">
              <% if (data.stage_3.easy === false) { %>
                <div class="alert alert-primary" role="alert">
                  No Stats
                </div>
              <% } else { %>
                <table class="table">
                  <tbody>
                    <% data.stage_3.easy.forEach(doc => { %>
                    <% doc_data = doc.data() %>
                    <tr>
                      <td><%= doc_data.username %></td>
                      <td><%= doc_data.score %></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              <% } %>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Medium</h4>
            </div>

            <div class="card-body">
              <% if (data.stage_3.medium === false) { %>
                <div class="alert alert-primary" role="alert">
                  No Stats
                </div>
              <% } else { %>
                <table class="table">
                  <tbody>
                    <% data.stage_3.medium.forEach(doc => { %>
                    <% doc_data = doc.data() %>
                    <tr>
                      <td><%= doc_data.username %></td>
                      <td><%= doc_data.score %></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              <% } %>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-white bg-primary border-primary">
              <h4 class="my-0 fw-normal">Hard</h4>
            </div>
            <div class="card-body">
              <% if (data.stage_3.hard === false) { %>
                <div class="alert alert-primary" role="alert">
                  No Stats
                </div>
              <% } else { %>
                <table class="table">
                  <tbody>
                    <% data.stage_3.hard.forEach(doc => { %>
                    <% doc_data = doc.data() %>
                    <tr>
                      <td><%= doc_data.username %></td>
                      <td><%= doc_data.score %></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </main>


    <!-- Footer -->
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-6 col-md">
          <h5>Play the Game</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a target="_blank" class="link-secondary text-decoration-none" href="https://ahmedmaawy.itch.io/mega-craet-box">Download on itch.io</a></li>
            <li class="mb-1"><a target="_blank" class="link-secondary text-decoration-none" href="https://ahmedmaawy.itch.io/mega-craet-box">Instructions</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>